@charset "utf-8";

body{
    height: 100vh;
    background-image: url(imagem/wallpaper002.jpg);
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    background-color: white;
    width: 300px;
    padding: 10px;
    margin: auto;
    border: 1px solid darkblue;
    border-radius: 4px;
}