@charset "utf-8";

/*estilos para tela*/

*{
    margin: 0px;
    padding: 0px;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
body{
    background-color: rgb(134, 134, 134);
}


header{
    background-color: black;
    color: white;
    
}
header > h1{
  text-align: center;
}


menu ul{
    background-color: rgb(77, 77, 77);
}
menu li{
    display: inline-block;
    padding: 6px;

}
main{
   min-width: 250px;
   max-width: 800px;
   
   margin: auto;

}

article{
    background-color: white;
    text-align: center;
}
article > h2{
    text-align: center;
    padding: 20px;
}
article > p{
    padding: 10px;
   
}